    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

    

    button:hover {
        background-color: #400683;
        color: white;
    }

    .evento-detalles {
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 8px;
        max-width: 80%;
        margin: auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .imag-evento {
        text-align: center;
        margin: 10px;
    }
    .imagen {
        max-width: fit-content;
        border: 4px solid #400683;
        border-radius: 12px;
        height: auto;

    }

    p {
        margin: 10px 0;
        font-size: 16px;
        line-height: 1.5;
    }

    #comentarios {
        text-align: center;
        margin-top: 20px;
        padding: 10px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }