* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* Elimina bottom: 0 de aquí */
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 0; /* Elimina este padding */
}

footer {
    background-color: rgb(12, 11, 11) !important;
    text-align: center;
    padding: 20px 0; /* Añade padding */
    width: 100%;
    margin-top: auto; /* Esto empuja el footer abajo */
    /* ELIMINA position: fixed y height: 0px */
}

.social {
    margin-bottom: 15px;
}

.social a {
    color: white;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: 0.3s;
}

footer .social a:hover {
    color: #02b3c7;
}

.links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}