*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    margin-top: 20px;
    background-color: #4a148c !important;
}

a {
    color: aliceblue;
    text-decoration: none;
    line-height: 2;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    background-color: #4a148c;
    color: aliceblue;
}