*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
}

footer{
    margin-top: 20px;
    background-color: rgb(12, 11, 11) !important;
    text-align: center;
    padding: 20px 0;;
}

.social {
  margin-bottom: 15px;
}


.social a {
  color: white;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: 0.3s;
}

footer .social a:hover{
  color: #02b3c7;
}

.links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
