    header {
        background-color: #4a148c;
        color: white;
        padding: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        margin: 30px;
      }

    #logo123 {
        display: block;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .logo {
        justify-content: flex-start;
        display: flex;
        align-items: center;
        width: 150px;
    }

    header img {
        height: 50px;
        width: auto;
    }

    .perfil {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .perfil img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: #fff;
        object-fit: cover;
    }

    button {
        background-color: #fff;
        color: #4a148c;
        border: none;
        border-radius: 4px;
        padding: 6px 16px;
        margin: 3px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease-in-out;
    }

    button:hover {
    background-color: #400683;
    color: white;
    transition: background-color 0.3s ease;
    }