    header {
        background-color: #02b3c7;
        color: white;
        padding: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        margin: 30px;
    }

    #logo123 {
        display: block;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .logo {
        justify-content: flex-start;
        display: flex;
        align-items: center;
        width: 150px;
    }

    header img {
        height: 50px;
        width: auto;
    }

    .perfil {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .perfil img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: #fff;
        object-fit: cover;
    }

    .menu-btn {
        display: block;
        font-size: 24px;
        cursor: pointer;
        background-color: none;
        border: none;
    }

    .container-menu {
        position: relative;
        display: grid;
        grid-template-columns: 1fr ;
        
        
    }
        
    .menu {
            position: absolute;
            top: 60px;
            display: none;
            right: 0;
            background-color: #150958;
            padding: 24px;
            border: 3px solid #fff;
            border-radius: 8px; ;
        
    }

    .menu a{
        color: aliceblue;
        text-decoration: none;
        padding: 5px;
    }


    a{
        text-decoration: none;
        color: white;
    }

    button {
        color: #fdfdfd;    
        background-color: #1c148c;
        border: none;
        border-radius: 4px;
        padding: 6px 16px;
        margin-bottom: 102px;
        margin: 3px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease-in-out;
    }

    button:hover {
        background-color: #ffffff;
        color: #1c148c;
        transition: background-color 0.3s ease;
    }