.formulario {
    width: 70%;
    max-width: 900px; 
    background: rgba(245, 245, 245, 0.8);
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    backdrop-filter: blur(15px);
    border: 2px solid rgba(28, 28, 28, 0.1);
    display: flex;
    margin: 5px auto;
    flex-direction: column;
    justify-content: center;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
}

button {
    display: block;
    margin: 0 auto 0px;
    width: 15%;
}

#preview {
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 250px;
    display: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    object-fit: contain;
}