    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

    body {
        background-color: cadetblue !important;
    }

    .evento-detalles {
        padding: 20px;
        gap: 20px;
        background-color: #f5f5f5;
        border-radius: 8px;
        max-width: 80%;
        margin: auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .detalles-evento {
         justify-items: center;
        text-align: center;
        margin: 10px;
        padding: 10px;
    }

    .detalles-evento p {
        padding-bottom: 15px;
    }

    .imag-evento {
        justify-items: center;
        text-align: center;
        margin: 10px;
    }

    .imagen {
        max-width: 100%;
        border: 4px solid #400683;
        border-radius: 12px;
        height: auto;

    }

    p {
        margin: 10px 0;
        font-size: 16px;
        line-height: 1.5;
    }

    #comentarios {
        text-align: center;
        margin-top: 20px;
        padding: 10px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

.menu-coment { 
    position: relative; 
    display: inline-block; 
    }

.menu-btn { 
    background: none; 
    border: none; 
    font-size: 20px; 
    cursor: pointer; 
    color: #666; 
    padding: 2px 6px; 
    }

.menu-contenido { 
    display: none; 
    position: absolute; 
    right: 0; top: 120%; 
    background: #fff; 
    min-width: 140px; 
    border: 1px solid #ccc; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.15); 
    padding: 8px; 
    border-radius: 6px; 
    z-index: 999; 
    }

.menu-contenido.show {
     display: block; 
    }

.menu-contenido button { 
    width: 100%; 
    border: none; 
    padding: 6px; 
    margin-top: 4px; 
    cursor: pointer; 
    text-align: left; 
    border-radius: 4px; 
    background: none; 
    font-size: 14px; 
    }

.menu-contenido button:hover { 
    background: #f0f0f0; 
    }

.comentarios { 
    margin-bottom: 15px; 
}

.comentarios.respuesta { 
    margin-left: 40px; 
}

    @media (max-width: 1024px) {
        .evento-detalles {
            grid-template-columns: 1fr 1fr;
            text-align: center;
        }
        

        
    }