footer {
    background-color: rgb(12, 11, 11);
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: auto;
}

.social {
    margin-bottom: 15px;
}

.social a {
    color: white;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s;
}

footer .social a:hover {
    color: #02b3c7;
}

.links a {
    margin: 0 10px;
    color: white;
    font-weight: 600;
}
