header {
    max-height: 20VH;
    background-color: #02b3c7;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

h1 {
    margin: 0 30px;
    flex-grow: 1;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;

}

#logo123 {
    width: 15vmin;
    height: 15vmin;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* recorta la imagen para llenar el cuadro */
    display: block;
    border-radius: 50%;
}

.selector-idioma {
    margin-right: 15px;
    display: inline-block;
}

.espacioimg {
    width: 10vmin;
    height: 10vmin;
  
}

.perfil p {
    margin: 0;
    font-weight: bold;
}

.container-menu {
    flex-direction: row ; 
    position: relative;
}


.menu-btn {
    width:  40px ; 
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    padding: 5px 10px;
    align-items: center;
    display: block;
}

.menu {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    background-color: #150958;
    padding: 15px;
    border: 3px solid #fff;
    border-radius: 8px;
    z-index: 1000;
    min-width: 150px;
}



.menu a, .btn-cerrar {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 12px;
    display: block;
    transition: background-color 0.3s ease;
}

.menu a:hover, .btn-cerrar:hover {
    background-color: #1c148c;
    border-radius: 4px;
   
}

a {
    text-decoration: none;
    color: white;
}


.btn-inicio-sesion {
    color: #000;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
}

.btn-inicio-sesion:hover {
    text-decoration: underline;
}

.btn-registrarse {
    background: #fff;
    border: 1.5px solid #0078d4;
    color: #0078d4;
    font-size: 17px;
    font-weight: 500;
    padding: 6px 14px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-registrarse:hover {
    background: #0078d4;
    color: #fff;
}
