* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  background-color: #ECF0F1;
  color: #333;
  
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;;
}

/* HEADER */
header {
  background-color: #1E6091; 
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: static;
  top: 0;
}

header .logo img {
  width: 140px;   
  height: auto;
}

header .logo img {
  height: auto;
}

header nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

header nav select, 
header nav a {
  background: white;
  color: #1E6091;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}

footer {
  margin: 0;
  bottom: 0;
}


.eventos {
  text-align:center;
  margin: 20px auto;
  max-width: 1500px;
}

.btn-login {
  background: #009578;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

/* CARRUSEL */
.carrusel {
  height: 350px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow:auto;
  margin-top: 40px; 
}

.elemento {
  flex: 1 0 auto;
  margin: 0 50px;
  background-color: red;
  width: 350px;
  height: 350px;  
}

.carrusel .imagenes { 
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;
}

.carrusel {
  width: auto;
  height: 400px;
  display: flex;
  border-radius: 15px;
  object-fit: fill; 
  transition: transform 0.5s ease, z-index 0.5s ease;
}

.carrusel button {
  background: #b22222;
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.elemento:first-child {
  margin-left: 0;
}

.elemento:hover {
  transform: scale(1.1);
  z-index: 10;
}



.botones {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.btn {
  background: #168AAD;
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #F4A261;
}

.info {
  padding: 80px 20px;
  background: #f9f9f9;
  min-height: 100vh;
}

.info h2 {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

.bloque {
  margin-bottom: 40px;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.bloque h3 {
  margin-bottom: 10px;
  color: #006699;
}

.bloque p {
  line-height: 1.6;
  color: #444;
}

.info-contenido {
  max-width: 1000px;
  margin: auto;
}



/*---------------FOOTER------------------*/
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 80px;
}

.social {
  margin-bottom: 15px;
}

 .social a {
  color: white;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: 0.3s;
}

footer .social a:hover {
  color: #b22222;
}

 .links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

/*--------Responsive----------*/
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

   header .logo {
    width: 100px; 
  }

  header .logo {
    flex-direction: column;
  }

  header nav {
    flex-direction: column;
    gap: 10px;
  }

  .carrusel {
    width: 90%;
    height: auto;
  }

 
  .botones {
    flex-direction: column;
    gap: 15px;
    margin: 30px 0;
  }

  .btn {
    width: 80%;
    text-align: center;
  }

   .info {
    padding: 40px 15px;
  }
  .info h2 {
    font-size: 1.8rem;
  }
  .bloque {
    padding: 15px;
  }

  footer .links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 15px;
  }
}
